*.DS_Store
*.pyc
__pycache__/
GEMINI.md
DL_Vorlesung
.ipynb_checkpoints/

.vscode/
.venv/
*.egg-info/

# LaTeX build artifacts
.report_dataliteracy.pdf
**/build/
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
!report/report_dataliteracy.pdf
.
